<a href="{{ path('shop_product_show', { 'id': product.id, 'categoryId': product.category.id }) }}">
    <div class="card">
        <img src="{{ asset(product.cover) }}" alt="{{ product.title }}">
        <div class="card-content">
            <p>{{ product.title }}</p>
            <p><strong>€ {{ product.getPriceTTC()|number_format(2, '.', ' ') }}</strong></p>
        </div>
    </div>
</a>